@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100&display=swap');

.card {
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  background-color: #CFC7B7;
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
  height: 8rem;
  padding: 1.5rem;
  margin: 1.5vh;
  width: 10rem;
  align-items: center;
  justify-content: center;
  inline-size: auto;
  border-radius: 5px;
  font-family: 'roboto';
  box-shadow: 7px -4px 10px 2px rgba(0,0,0,0.24);
-webkit-box-shadow: 7px -4px 10px 2px rgba(0,0,0,0.24);
-moz-box-shadow: 7px -4px 10px 2px rgba(0,0,0,0.24);
}
.imageAd {
  /* width: 6rem; */
  height: 6rem;
  aspect-ratio: auto;
  object-fit: cover;
  margin: 1vh;
  border-radius: 5px;
}
.bottomCard {
  display: flex;
}
.adCardPrice {
  flex: 0.5;
}
.adCardButton {
  flex: 0.5;
}
.imageBloc {
  align-self: center;
  
}